$def with (name)

$if name:
    Current status of time: $name.
$else:
    <em>Hello</em>, world!

<h1> Activare/Dezactivare serviciu NTP </h1>

<form method="post" action="ControlNTP">
<p>De aici puteti activa sau dezactiva serviciul de ntp:
Introduceti doar <strong>start</strong> sau <strong>stop</strong> (cu litere mici)
(si apoi submit) <br />
<input type="text" name="controlNTP" value="start" /> <input type="submit" value="Submit NTP Command" />
</form>
</p>

<h1> Setare cale device node </h1>

<form method="post" action="DevPath">
<p>De aici puteti seta calea din <strong>/etc/epicclockpath</strong>  <br />
<input type="text" name="path" value="/dev/epicclock" /> <input type="submit" value="Submit path" />
</p>
</form>

<h1> Setare fisier log </h1>

<form method="post" action="ChangeLog">
<p>De aici puteti seta fisierul de log in care vom vedea toate actiunile pe care le fac userii
pe acest server <br />
<input type="text" name="filename" value="/var/log/si_server/actions.log" /> <input type="submit" value="Submit logfile" />
</p>
</form>

<h1> Setare timezone </h1>


<form method="post" action="SetTimezone">
<p>De aici puteti seta Timezone-ul <br />
Scriptul, in spate copiaza din /usr/share/zoneinfo in /etc/localtime astfel: valoarea introdusa
mai jos e "append"-ui la string-ul /usr/share/zoneinfo/ si e copiat in /etc/localtime <br /> <br/>

Exemplu: Userul introduce UTC => e copiat /usr/share/zoneinfo/UTC in /etc/localtime. Daca
vei da date, vei vedea timezone UTC. <br /><br />
Userul introduce Europe/Bucharest => va fi folosit timpul romanesc

<input type="text" name="timezone" value="Europe/Bucharest" /> <input type="submit" value="Submit Timezone" />
</p>

</form>

<h1> Configurarea afișării, selecție între trei moduri:</h1>

  <form method="post" action="ConfigDisplay">
      <select id="configdisp" name="configdisp">
        <option selected="selected" value="0"> se afișează doar ora </option>
        <option value="1">se afișează doar data</option>
        <option value="2">se ciclează între afișarea datei și a orei</option>
      </select> <br />
Configurati intervalul de display <input type="text" name="dispinterval" value="1" /> 
<br />(pentru afisarea orei sau ciclarea intre data/ora): 

      <br />

      <input type="submit" title="Submit"/>
    </form>

<h1> Setarea ceasului: </h1>

Urmatorul formular va schimba ceasul sistemului (diferit de hardware clock!)
La final puteti selecta daca doriti sa schimbati si hardware clock-ul.
Nu se face nici o verificare asupra validitatii datei. Se presupune ca veti introduce
o data valida (si corecta) <br /><br />

<form method="post" action="SetDateTime">
  
    <h3> Setare prin NTP </h3> 
    Daca doriti sa folositi aceasta setare, e bine inainte, tot din interfata,
    sa opriti daemonul ntpd <br />
        <select id="usentp" name="usentp">
        <option selected="selected" value="1"> DA </option>
        <option value="0">NU</option>
        </select>
        <input type="text" name="ntpserver" value="pool.ntp.org" />
  
    <h3> Setare manuala </h3>
    
    Selectati NU de mai sus, pentru a NU folosi NTP, ci setarea manuala. 
     
        Day:
        <select id="day" name="day">    
        <option selected="selected" value="1">1</option>
        $for i in range(2, 32):
           <option value="$i">$i</option>
        </select> 
        Month: 
        <select id="month" name="month">    
        <option selected="selected" value="1">1</option>
        $for i in range(2, 13):
           <option value="$i">$i</option>
        </select>
        Year: 
        <select id="year" name="year">    
        <option selected="selected" value="1970">1970</option>
        $for i in range(1971, 2015):
           <option value="$i">$i</option>
        </select>
        <br />
        
        Hour:
        <select id="hour" name="hour">    
        <option selected="selected" value="0">0</option>
        $for i in range(1, 24):
           <option value="$i">$i</option>
        </select> 
        
        Minute: 
        <select id="minute" name="minute">    
        <option selected="selected" value="0">0</option>
        $for i in range(1, 60):
           <option value="$i">$i</option>
        </select> 
    
        <br />

        <br />
      <input type="submit" title="Submit"/>
    </form>

